@page "/ticketv2"
@inject TicketsViewModel ticketViewModel

<PageTitle>Registro de tickets</PageTitle>

<EditForm Model="Ticket" OnValidSubmit="ticketViewModel.Save">
    <DataAnnotationsValidator />

    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header">
                <h3>Registro de Tickets.</h3>
            </div>
            <div class=card-body>

                @*Ticket Id:*@
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
                    <label>Ticket Id:</label>
                    <div class="input-group mb-3">
                        <InputNumber @bind-Value="Ticket.TicketId" class="form-control" aria-describedby="BotonBuscar" />
                        <button @onclick="ticketViewModel.Buscar" class="btn btn-outline-primary" type="button" id="BotonBuscar"><i class="oi oi-magnifying-glass" /></button>
                    </div>
                </div>

                @*Cliente*@
                <div class="mb-3">
                    <label class="form-label" for="SolicitadoPor">Cliente:</label>
                    <InputText @bind-Value="Ticket.Cliente" class="form-control" />
                    <ValidationMessage For="@(() => Ticket.Cliente)" />
                </div>

                @*SolicitadoPor*@
                <div class="mb-3">
                    <label class="form-label" for="SolicitadoPor">SolicitadoPor:</label>
                    <InputText @bind-Value="Ticket.SolicitadoPor" class="form-control" />
                    <ValidationMessage For="@(() => Ticket.SolicitadoPor)" />
                </div>

                @*Asunto*@
                <div class="mb-3">
                    <label class="form-label" for="Asunto">Asunto:</label>
                    <InputText @bind-Value="Ticket.Asunto" class="form-control" />
                    <ValidationMessage For="@(() => Ticket.Asunto)" />
                </div>

                @*Descripcion*@
                <div class="mb-3">
                    <label class="form-label" for="Descripcion">Solicitud:</label>
                    <InputText @bind-Value="Ticket.Solicitud" class="form-control" />
                    <ValidationMessage For="@(() => Ticket.Solicitud)" />
                </div>

            </div>
            <div class="card-footer d-flex justify-content-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-primary" @onclick="ticketViewModel.Nuevo">Nuevo <i class="oi oi-file" /></button>
                    <button type="submit" class="btn btn-outline-success">Guardar <i class="oi oi-document" /></button>
                    <button type="button" class="btn btn-outline-danger" @onclick="ticketViewModel.Eliminar">Eliminar <i class="oi oi-trash" /></button>
                </div>
            </div>
        </div>
    </div>
</EditForm>
<label>@ticketViewModel.Mensaje</label>

@code{
    public Tickets Ticket => ticketViewModel.Ticket;

    
}
